*{
    padding-top:10px;

    
}
body{
    padding-left:20px;
    padding-right: 20px;
}

h1 {
    padding-top: 70px;
    color: rgb(47, 153, 153);
}

.nav{
    background-color: rgb(3, 3, 31);
    padding: 30px;
}

.nav-link{
    color: white
}
p{
    color:gray
}
 .col{
    background-color: rgb(3, 3, 31);
    color: white;
    margin:10px;
    border-radius: 10px;
}
#noticias{
    color: yellow;
}

#anuncio{
    color: white;
}

#titulo_registro{
    text-align: center;
    color: rgb(59, 121, 192);
}

#titulo_notificaciones{
    text-align: center;
    color: rgb(59, 121, 192);
}

#form_registro{
    text-align: center;
}
